@model HePa.Web.ViewModels.AccountViewModels.ActiveHistoryViewModel

<div>
    <h4>ActiveHistoryViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExpDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpDate)
        </dd>
        <dt>
            Lịch sử nạp
        </dt>
        @foreach (var item in Model.Passports)
        {
            <dd>
                <span>Ngày nạp: @item.ActiveDate.Value.Date.ToShortDateString() </span> <span> Mã thẻ: @item.Id </span> 
            </dd>
        }
        
    </dl>
</div>
