@model HePa.Web.ViewModels.AccountViewModels.ForgotPasswordViewModel
@using BotDetect.Web.UI.Mvc;
@using HePa.Core.Extensions;
@{
    ViewBag.Title = "Quên mật khẩu";
    ViewBag.NavTitle = "Quên mật khẩu?";
    Layout = "~/Views/Shared/_SimplePageLayout.cshtml";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="content">
            <div class="simple-content boxed">
                @if (ViewBag.SendEmailForgotPasswordSuccessfully != null)
                {
                    @Html.AlertBox(AlertBoxType.SUCCESS, ViewBag.SendEmailForgotPasswordSuccessfully as String)
                    <h6><a href='@Url.Action("Index", "Home")'><i class="fa fa-arrow-circle-left"></i> về trang chủ</a></h6>
                }
                else
                {
                    using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Bạn quên mật khẩu?</h4>
                        <div class="form-group">
                            <p>Nhập vào địa chỉ email của bạn để khổi phục lại mật khẩu. Nếu không nhận được email gửi tới hãy thử kiểm tra hộp thư rác.</p>
                        </div>
                        <div class="form-group">
                            @Html.AlertBox(AlertBoxType.DANGER, ViewBag.SendEmailForgotPasswordError as String, true)
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @id = "txt-email", @class = "form-control", @placeholder = "Email đăng ký tài khoản", autofocus = "true", tabindex = 1 } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-red" })
                        </div>
                        @*<div class="form-group">
                            <br />
                            @{ MvcCaptcha sampleCaptcha = new MvcCaptcha("SampleCaptcha"); }
                            <h6>@Html.Label("CaptchaCode", "Nhập mã xác nhận")</h6>
                            @Html.Captcha(sampleCaptcha)
                            <br />
                            @Html.TextBox("CaptchaCode", null, new { @class="form-control", @placeholder = "Nhập mã xác nhận", @style = "text-transform:uppercase", tabindex = 2 })
                            @Html.ValidationMessage("CaptchaCode", new { @class = "text-red" })
                        </div>*@
                        <div class="form-group">
                            <button type="submit" class="btn btn-blue" id="send-forgot-password-message" tabindex="3">
                                Nhận lại mật khẩu
                            </button>
                        </div>
                        <h6><a href="@Url.Action("Index", "Home")"><i class="fa fa-arrow-circle-left"></i> về trang chủ</a></h6>
                    }
                }
            </div>
        </div>
    </div>
</div>
@section AddScript {
    <script src="@Scripts.Url("~/dist/jqueryval")" async></script>
    <script src="@Scripts.Url("~/dist/jquery.validate.unobtrusive")" async></script>
}