@model HePa.Web.ViewModels.AccountViewModels.UserInfoViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SimplePageLayout.cshtml";
}
@Styles.Render("~/dist/css-user")
<!--Loading by ajax-->
@Ajax.ActionLink("Thông tin",
        "GetUserInfo", "Account", new { area = "" },
    new AjaxOptions
    {
        UpdateTargetId = "div-user-content",
        InsertionMode = InsertionMode.Replace,
    }, null) <br />
@Ajax.ActionLink("Lịch sử học",
                "GetListJoinedClasses", "Account", new { area = "" },
    new AjaxOptions
    {
        UpdateTargetId = "div-user-content",
        InsertionMode = InsertionMode.Replace,
    }, null) <br />
@Ajax.ActionLink("Điểm kinh nghiệm",
            "GetListExperiences", "Account", new { area = "" },
    new AjaxOptions
    {
        UpdateTargetId = "div-user-content",
        InsertionMode = InsertionMode.Replace,
    }, null)
<br /> 
@Ajax.ActionLink("Lịch sử nạp thẻ",
                "GetActiveHistory", "Account", new { area = "" },
    new AjaxOptions
    {
        UpdateTargetId = "div-user-content",
        InsertionMode = InsertionMode.Replace,
    }, null)

<div class="col-sm-8 col-sm-offset-2">
    <div class="boxed">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="inner-content inner">
                    <div id="div-user-content">
                        @{ Html.RenderPartial("_UserInfoPartial", Model); }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section AddScript
{
    @Scripts.Render("~/dist/jquery-ui-js")
    @Scripts.Render("~/dist/jquery.unobtrusive-ajax")
}
