@model HePa.Web.ViewModels.AccountViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "Đặt lại mật khẩu";
    Layout = "~/Views/Shared/_SimplePageLayout.cshtml";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="content">
            <div class="simple-content boxed">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <div class="form-group">
                            <h4>Bạn quên mật khẩu?</h4>
                            <p>Hãy tạo mật khẩu mới cho tài khoản <strong>@ViewBag.Email</strong> của bạn.</p>
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mật khẩu mới", autofocus = "true" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập lại khẩu mới" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Xác nhận" class="btn btn-blue" />
                        </div>
                        <div class="form-group">
                            <h6><a href='@Url.Action("Index", "Home")'><i class="fa fa-arrow-circle-left"></i> về trang chủ</a></h6>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section AddScript {
    <script src="@Scripts.Url("~/dist/jqueryval")" async></script>
    <script src="@Scripts.Url("~/dist/jquery.validate.unobtrusive")" async></script>
}