@model IEnumerable<HePa.Core.Entities.OrderDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SimplePageLayout.cshtml";
}

<h2>Index</h2>

<button class="btn btn-lg btn-primary" id="excel-export">
    Xuất file excel
</button>

<div class="boxed">
    <table class="table table-striped table-bordered" id="table2excel">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Tên khách hàng", "Index")
                </th>
                <th>
                    @Html.ActionLink("Tên sản phẩm", "Index")
                </th>
                <th>
                    @Html.ActionLink("Số lượng", "Index")
                </th>
                <th>
                    @Html.ActionLink("Hình thức thanh toán", "Index")
                </th>
                <th>
                    @Html.ActionLink("Địa chỉ", "Index")
                </th>
                <th>
                    @Html.ActionLink("Số điện thoại", "Index")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HepaProduct.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfItems)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KindOfPurchase)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.PhoneNumber)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Scripts.Render("~/dist/export-excel-js")
<script>
    $("#excel-export").click(function () {
        $("#table2excel").table2excel({
            // exclude CSS class
            name: "Excel Document Name"
        });
    });
</script>